@import "./shared/fonts";
@import "./index";
@import "./header";
html,
body,
a {
  font-family: "Montserrat";
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}
